.about-page-head {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-[black] font-bold text-[1.8rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.About-pagel {
    @apply flex flex-col items-center justify-center w-[100vw] pb-[2rem]
}

.About-pagel p {
    font-family: 'sora', sans-serif;

    @apply text-center w-[80%] text-[0.9rem] leading-10 desktop:leading-8 desktop:w-[50%] font-light desktop:text-[1rem]
}

.loco {
    @apply ml-[0.5rem]
}

.about-page-headt {
    font-family: "sora", sans-serif;
    @apply text-[#213e8c] font-bold text-[1.5rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.ul li {
    font-family: "sora", sans-serif;

    list-style-type: none;
    @apply pl-[1.5rem] list-decimal text-[0.8rem] flex flex-row gap-[0.5rem] desktop:gap-[1rem] mt-[1rem] wide:text-[1rem]
}

/* .about-page-heada {
    @apply pl-[2rem] text-[0.8rem] 
} */

.ul {
    @apply desktop:w-[50%] desktop:h-[100%] desktop:flex-col desktop:flex desktop:justify-evenly desktop:text-[1rem] wide:text-[1.5rem]
}

.checki {
    @apply h-[1rem] w-[1rem]
}

.about-quote {
    @apply w-[100%] items-center justify-center text-center px-[2rem] my-[2rem] desktop:w-[50%] hidden
}

.about-quote h5 {
    /* font-style: italic; */
    font-family: 'Courgette', cursive;

    @apply bg-slate-400 py-[2rem] font-medium shadow-black shadow-inner rounded
}

.about-partners {
    @apply w-[100%] h-fit flex items-center justify-center mb-[2rem] mt-[2rem] flex-col
}

.about-partners h1 {
    font-family: "sora", sans-serif;

    @apply w-[100%] flex justify-center items-center text-[#213e8c] font-bold text-[1.5rem] mb-[2rem]
}

.part-img {
    @apply w-[100%] h-[40vh] desktop:w-[80%] flex flex-row 
}


.part-img-div{
    @apply w-[50%] h-[100%] flex flex-col items-center justify-center 
}

.part-img img {
    @apply w-[50%] h-[100%] rounded-2xl
}


.fol {
    font-family: 'sora', sans-serif;
    @apply w-[80%] text-[0.8rem] text-center mb-[1rem] desktop:text-[1.1rem] font-light
}

.contain-about {
    @apply w-[80%] desktop:flex desktop:flex-row desktop:h-[50vh]
}

.blue-about {
    background-image: url(/Images/itpa21.JPG);
    @apply w-[50%] bg-center bg-cover bg-no-repeat hidden desktop:flex rounded-3xl
}

.about-top {
    background: url(/Images/itpa33.JPG);
    border: 1px solid blue;
    @apply w-[80%] h-[60vh] mt-[2rem] rounded-3xl bg-no-repeat bg-center bg-cover
}

.about-top-overlay {
    background: rgba(53, 53, 93, 0.7);

    @apply h-[100%] w-[100%] flex flex-col justify-center items-center desktop:items-center desktop:pl-[0rem] px-[1rem] text-start desktop:text-center
}

.about-top-overlay h1 {
    font-family: "sora," sans-serif;
    @apply text-[white] text-[2rem] desktop:text-[3rem] font-bold
}

.statement-cards {
    @apply flex desktop:flex-row w-[80%] justify-evenly items-center my-[3rem] flex-col gap-[1.5rem]
}