.about-page-head {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-[black] font-bold text-[1.8rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.About-pagel {
    @apply flex flex-col items-center justify-center w-[100vw] pb-[2rem]
}

.About-pagel p {
    font-family: 'Courgette', cursive;

    @apply text-center w-[85%] text-[0.8rem] leading-snug
}

.loco {
    @apply ml-[0.5rem]
}

.about-page-headt {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-[#213e8c] font-bold text-[1.5rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.ul li {
    list-style-type:none;
    @apply pl-[1.5rem] list-decimal text-[0.8rem] flex flex-row gap-[0.5rem] mt-[1ren]
}

/* .about-page-heada {
    @apply pl-[2rem] text-[0.8rem] 
} */

.checki{
    @apply h-[1rem] w-[1rem]
}