.about-page-head {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-[black] font-bold text-[1.8rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.About-pagel {
    @apply flex flex-col items-center justify-center w-[100vw] pb-[2rem]
}

.About-pagel p {
    font-family: 'Courgette', cursive;

    @apply text-center w-[75%] text-[0.8rem] leading-snug desktop:leading-8
}

.loco {
    @apply ml-[0.5rem]
}

.about-page-headt {
    font-family: Arial, Helvetica, sans-serif;
    @apply text-[#213e8c] font-bold text-[1.5rem] w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem]
}

.ul li {
    list-style-type: none;
    @apply pl-[1.5rem] list-decimal text-[0.8rem] flex flex-row gap-[0.5rem] desktop:gap-[1rem] mt-[1rem] wide:text-[1rem]
}

/* .about-page-heada {
    @apply pl-[2rem] text-[0.8rem] 
} */

.ul {
    @apply desktop:w-[50%] desktop:h-[100%] desktop:flex-col desktop:flex desktop:justify-evenly desktop:text-[1rem] wide:text-[1.5rem]
}

.checki {
    @apply h-[1rem] w-[1rem]
}

.about-quote {
    @apply w-[100%] items-center justify-center text-center px-[2rem] my-[2rem] desktop:w-[50%]
}

.about-quote h5 {
    /* font-style: italic; */
    font-family: 'Courgette', cursive;

    @apply bg-slate-400 py-[2rem] font-medium shadow-black shadow-inner rounded
}

.about-partners {
    @apply w-[100%] h-fit flex items-center justify-center mt-[2rem] mb-[1rem] flex-col
}

.about-partners h1 {

    @apply w-[100%] flex justify-center items-center text-[#213e8c] font-bold text-[1.5rem]
}

.part-img {
    @apply w-[90%] h-[40vh] desktop:w-[70%]
}

.part-img img {
    @apply w-[100%] h-[100%]
}


.about-partners h4 {
    font-family: 'Courgette', cursive;

    @apply w-[80%] text-[0.8rem] text-center mb-[1rem]
}

.contain-about {
    @apply w-[80%] desktop:flex desktop:flex-row desktop:h-[50vh]
}

.blue-about {
    background-image: url(../assets/Images/tech.jpg);
    @apply w-[50%] bg-center bg-cover bg-no-repeat hidden desktop:flex 
}