/* Masonry.css */

.masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 20px;
}

.masonry-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    border: 2px solid #2138ec;
}

.events-container {
    @apply px-[5%] desktop:px-[10%]
}

.events-container h2 {
    font-family: 'Courgette', cursive;

    @apply font-bold text-[2rem] w-[100%] justify-center items-center flex text-[#2138ec] desktop:text-[3rem] mt-[0.5rem]
}

.events-container p{
    @apply text-center text-[0.8rem]  mb-[2rem]  desktop:text-[1rem]
}