* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow: hidden;
    /* scroll-behavior: smooth; */

}


.Home-first {
    @apply h-[100%] w-[100vw] flex items-center justify-center pt-[3rem]
}


.Home-container {
    /* 
        background: radial-gradient(30.56% 76.04% at 72.78% 14.44%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 0%), url(/images/background-image-1.jpg); */
    background-image: url(/Images/bgb.jpg);
    background-position: center;
    /* transition: background-image 1s ease; */
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: changeBackgroundImage 10s infinite cubic-bezier(0.165, 0.84, 0.44, 1); */

    @apply h-[60vh] desktop:h-[80vh] bg-center bg-cover bg-no-repeat mb-[3rem] overflow-hidden desktop:w-[80%] w-[90%] rounded-3xl relative aspect-auto
}



.home-first-overlay {
    z-index: 100;
    /* background: radial-gradient(30.56% 76.04% at 72.78% 14.44%, rgba(0, 0, 0, 0) 0%, rgba(97, 97, 218, 0.8) 0%); */

    background: rgba(53, 53, 93, 0.7);

    @apply h-[100%] w-[100%] flex flex-col justify-center items-center desktop:items-center desktop:pl-[0rem] px-[1rem] text-start desktop:text-center
}

.home-first-overlay h1 {
    font-family: 'Sora', sans-serif;

    z-index: 1000;
    @apply text-[1.78rem] text-white font-bold desktop:text-[2.5rem] desktop:w-[100%] wide:w-[100%]
}

.home-first-overlay div {
    @apply flex flex-col items-center justify-center text-[1.4rem] desktop:items-start font-semibold text-white desktop:text-[2.5rem]
}

.home-first-overlay p {
    font-family: 'Sora', sans-serif;

    @apply text-[white] text-[0.8rem] font-light desktop:text-[1.2rem] text-start mt-[1rem] pr-[1.5rem] desktop:w-[70%] wide:w-[50%] desktop:text-center
}


.home-explore {
    /* background-color: red; */
    /* color: #1d486a;
    border: 2px solid #1d486a;
    padding: 10px 20px;
    cursor: pointer; */
    /* transition: color 0.3s, box-shadow 0.3s; */
    border: 1px solid #213e8c;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #213e8c;
    /* White box shadow */

    @apply bg-transparent rounded-full text-white px-[1.9rem] py-[0.9rem] mb-[2rem] text-[0.8rem] desktop:text-[1rem] mt-[2rem] font-semibold
    /* White box shadow */
    /* White box shadow */
    /* background-image: linear-gradient(to left, #1d486a, white); */

    /* @apply  text-white bg-transparent py-[0.9rem] px-[1.9rem] rounded-full shadow-2xl font-semibold */
}

button:hover {

    background-color: #213e8c;
    transition: ease-in-out;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    /* Lighter white shadow on hover */
}

.our-story {
    @apply h-fit pb-[2rem] w-[100vw] items-center flex-col flex justify-center
}



.our-story h1 {
    font-style: oblique;
    font-family: cursive;
    @apply text-[2.5rem] font-bold text-blue
}

.line-one {
    @apply w-[11rem] h-[0.1rem] bg-blue
}

.line-two {
    @apply w-[9rem] h-[0.1rem] bg-blue mt-[.5rem]
}

.line-three {
    @apply w-[7rem] h-[0.1rem] bg-blue mt-[.5rem]
}

.our-story-article {
    /* font-family: 'Caudex', sans-serif; */
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    @apply w-[90%] text-center mt-[0rem] text-[0.9rem]
}

.our-story-button {
    background-color: transparent;
    color: #1d486a;
    border: 1px solid #1d486a;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
    /* background-image: linear-gradient(to left, #1d486a, white); */


    @apply mt-[2rem] text-blue bg-transparent py-[0.9rem] px-[1.9rem] rounded-full shadow-2xl font-semibold shadow-slate-900
}

.home-stats {
    @apply flex flex-row w-[100%] justify-evenly items-center gap-[1rem] pb-[2rem]
}

.home-stats div {
    @apply flex flex-col items-center justify-center
}

.home-stats h2 {
    @apply text-[1.3rem] font-bold desktop:text-[2.5rem]
}

.home-stats div:nth-of-type(2) h2 {
    @apply text-red-500
}

.home-stats div:nth-of-type(3) h2 {
    @apply text-yellow-400
}

.home-stats div h3 {
    @apply text-[0.8rem] font-medium text-blue desktop:text-[1.2rem]
}


.about-us {
    @apply h-[40vh] w-[100%]
}




.our-mission {
    background-image: url(/Images/nasa.jpg);
    @apply bg-center bg-cover bg-no-repeat desktop:h-[50vh] text-white flex-col flex items-center desktop:flex-row h-[30vh]
}

.rocket {
    @apply h-[2rem] w-[2rem]
}

.mission-head {
    font-family: 'Edu TAS Beginner';

    @apply flex flex-row w-[100%] justify-center pt-[1rem] items-center text-[2rem] gap-[0.5rem] font-bold desktop:bg-[#213e8c] desktop:h-[100%] desktop:text-[2.5rem] opacity-80
}

.our-mission p {
    font-family: 'Edu TAS Beginner';

    @apply text-center mt-[1rem] text-[1.2rem] font-medium px-[4%] desktop:text-[1.5rem]
}

.vision {
    @apply h-[3rem] w-[3rem] font-bold
}

.vision-head {
    @apply flex flex-row w-[100%] justify-center items-center text-[2rem] font-bold mb-[1rem] gap-[0.5rem] mt-[1rem] desktop:text-[2.5rem]
}

.our-vision {
    font-family: 'Edu TAS Beginner';

    @apply flex flex-col text-[#213e8c] desktop:flex-row desktop:h-[50vh] h-[30vh]
}

.our-vision p {
    @apply text-[black] text-center px-[4%] desktop:h-[100%] flex justify-center items-center font-medium text-[1.2rem] desktop:text-[1.5rem] desktop:bg-[#213e8c]
}


.about-section {
    @apply bg-center bg-cover bg-no-repeat h-fit mt-[1rem] w-[100%] flex justify-center items-center flex-col
}

.about-overlay {
  
    @apply h-[100%] w-[100%] flex flex-col justify-center items-center desktop:items-center desktop:pl-[5rem] px-[1rem] text-start desktop:py-[3rem]
}

.about-overlay h1 {
    font-family: 'sorta', sans-serif;

    @apply text-[#213e8c] text-[2.5rem] font-bold mb-[1rem] mt-[1rem]
}

.about-overlay p {
    font-family: 'sorta', sans-serif;

    @apply text-[black] text-center mb-[1rem] leading-8 desktop:w-[70%] desktop:text-[1.2rem] font-light leading-10
}



.kwac {
    background-image: url(/Images/kwac.webp);
    @apply w-[100%] bg-center bg-cover bg-no-repeat h-[30vh] mt-[1rem]
}



.lop:hover {
    transform: scale(1.1);
    border-color: #555;
}

.Gallery {
    @apply flex desktop:flex-col flex-col w-[100%] items-center justify-center
}




.gallery-container {
    @apply flex flex-col desktop:flex-row w-[100%]
}

.gallery-head {
    font-family: "sorta", sans-serif;
    @apply text-[2rem] font-bold py-[1rem] text-[#213e8c] desktop:text-[3rem]
}




/* CSS for the ImageGrid component */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    gap: 16px;
    /* Spacing between items */
}

.image-item {
    text-align: center;
    /* Center the image horizontally */
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.left-gallery {
    flex: 1;
    @apply hidden desktop:hidden
}

.see-more {
    /* border: 1px solid #213e8c; */
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px white;
    font-family: 'Sora', sans-serif;

    /* White box shadow */

    @apply bg-[#213e8c] text-[white] px-[2.4rem] py-[1.1rem] mb-[2rem] text-[0.8rem] desktop:text-[1rem] mt-[2rem] font-medium rounded-lg hover:text-white
}

.events, .contact-section {
    @apply flex flex-col justify-center items-center mt-[1rem] h-fit
}

.events h2 {
    font-family: 'Sora', sans-serif;

    @apply text-[1.5rem] desktop:text-[2.5rem] font-bold text-[#213e8c] flex-row flex w-[100%] items-center justify-center mb-[0.5rem]
}

.contact-section h1 {
    font-family: 'Sora', sans-serif;
    @apply text-[2rem] desktop:text-[2rem] font-bold text-[#213e8c] flex-row flex w-[100%] items-center justify-center mb-[0.5rem]
}

.events p, .contact-section p {
    font-family: 'Sora', sans-serif;

    @apply text-[1rem] desktop:text-[1rem] font-light w-[60%] text-center leading-10
}


.hockey {
    @apply h-[2rem] w-[2rem] desktop:h-[4rem] desktop:w-[4rem]
}

.ima {
    background-image: url(/Images/tech.jpg);
    @apply h-[100%] w-[100%] bg-center bg-cover bg-no-repeat
}


.carousel-container {
    margin-bottom: 20px;
    max-width: 1980px;

}

.custom-dot-list-style {
    margin: 0;
    padding: 0;
    text-align: center;

}


.slick-dots li button {
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.service-dept {
    @apply flex justify-center w-[100%] items-center flex-col mb-[2rem]
}



.services-sect {
    @apply flex flex-col desktop:flex-row desktop:justify-evenly items-center w-[80%] gap-[1rem]
}

.service-divo {
    background: url(/Images/itpa18.JPG);
    @apply h-[45vh] wide:w-[20rem] desktop:w-[12rem] w-[100%] rounded-2xl bg-center bg-cover bg-no-repeat
}

.service-divt {
    background-image: url(/Images/itpa20.JPG);

    @apply h-[45vh] wide:w-[20rem] desktop:w-[12rem] w-[100%] rounded-2xl bg-center bg-cover bg-no-repeat
}

.service-divth {
    background: url(/Images/itpa24.JPG);

    @apply h-[45vh] wide:w-[20rem] desktop:w-[12rem] w-[100%] rounded-2xl bg-center bg-cover bg-no-repeat
}

.service-div {
    background: url(/Images/itpa25.JPG);
    @apply h-[45vh] wide:w-[20rem] desktop:w-[12rem] w-[100%] rounded-2xl desktop:h-[45vh] bg-center bg-cover bg-no-repeat
}

.service-div-overlay {
    background: rgba(53, 53, 93, 0.7);
    @apply h-[100%] w-[100%] flex items-end
}

.se {
    font-family: "sorta", sans-serif;
    @apply text-white font-semibold w-[100%] flex flex-row justify-center items-center text-[1.8rem] p-[1.5rem]
}

.service-dept-header {
    font-family: "sorta", sans-serif;

    @apply text-[2rem] font-bold text-[#213e8c] desktop:text-[3rem] mb-[2rem]
}

.trusted-by {
    @apply w-[100%] items-center flex-col flex justify-center mt-[2rem]
}

.trusted-header {
    font-family: "sorta", sans-serif;

    @apply text-[2rem] desktop:text-[3rem] font-bold text-[#312e8c] mb-[2rem]
}

.trusted-container {
    @apply grid grid-cols-5 w-fit desktop:px-[10%] gap-y-[2rem] wide:px-[25rem] mb-[3rem] gap-x-[0.5rem] desktop:gap-x-[2rem] wide:gap-x-[3rem] wide:w-[100%] tablet:w-[80%] tablet:ml-[1.5rem] desktop:ml-[0rem] desktop:w-[80%]
}


.trusted-container img {
    @apply wide:h-[9.25rem] wide:w-[9.25rem] desktop:h-[6.25rem] desktop:w-[6.25rem] h-[3.25rem] w-[3.25rem]
}





/* VideoBackground.css */
.video-background {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}



video {
    width: 100%;
    height: auto;

    /* Make the video cover the container while maintaining its aspect ratio */
    object-position: center center;
    /* Center the video content within the container */
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    /* Adjust text color as needed */
    @apply h-[100%] w-[100%]
}



.floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .floating-whatsapp a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366; 
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .floating-whatsapp a:hover {
    background-color: #128c7e; 
  }
  
  .floating-whatsapp img {
    width: 100%;
    height: auto;
  }
  